/* HEADER HOMEPAGE */
.header {
    background-image: url('/media/cinemage.jpg');
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-color {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

/* pagina contatti */
.box {
    border: dotted 2px white;
    min-height: 250px;
    max-width: 250px;
    transition: all 0.5s;
    cursor: pointer;
}

.box:hover {
    border: 3px solid white;
    transform: translatey(-10px);
}

.icon {
    font-size: 50px;
}

/*  sectione dipendente */
.userHeight {
    height: 70vh;
}

/* movies */
.movies {
    background-image: url('/media/cinemage.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cardImg {
    height: 250px;
    object-position: center;

}